<h2>{{ negocio.nombre }}</h2>
<p style="padding-top: 16px;">
  <p>Hora: {{ dia.dia }} </p>
  <p>Hora: {{ dia.hora }} </p>
  Este es su codigo para cambio de contraseña
</p>

<h2>
  <a>http://ec2-100-26-232-195.compute-1.amazonaws.com/api/confirmacion/{{ codigo }}</a>
</h2>
