<h2>Hello {{ to.mail }}</h2>
<p style="padding-top: 16px;">
  Thank you for your purchase!
</p>
<p>Item: {{ book.sku }} - {{ book.title }} </p>
<p>Total: ${{ book.price }} {{ book.currency }}</p>
<p>Date: {{ date }}</p>
<p style="padding-top: 16px;">
  Please contact us if you have any questions.
</p>
<h2>
</h2>
